/* 
    uniform circular motion demo! ()cleoold
*/

html, body {
    height: 100%;
    background-color: #530a80;
    transition: background-color 4s ease;
    -webkit-transition: background-color 4s ease;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: burlywood;
}

body {
    text-align: center;
}

p input[type="text"] {
    background-color: rgba(255, 255, 255, .3);
    border: none;
    color: white;
    font-size: .9em;
    padding-left: .25em;
    padding-right: .25em;
    transition: background-color .7s cubic-bezier(0.001, 0.610, 0.355, 1);
    -webkit-transition: background-color .7s cubic-bezier(0.001, 0.610, 0.355, 1);
}

p input[type="button"] {
    background-color: #d1c736;
    border: none;
    padding: .25em;
    width: 15em;
    height: 2em;
}

p input.set-attr-reset {
    background-color: #b3ad9d;
}

p input[type="button"]:hover {
    background-color: #aba555;
    transition: background-color .1s ease;
    -webkit-transition: background-color .1s ease;
}

p input[type="button"]:active {
    background-color: #7a774d;
    color: #b0b0b0;
}

p.custom-attr input[type="text"] {
    width: 60px;
    margin-bottom: .7em;
}

div#container {
    width: 40%;
    background-color: rgba(255, 255, 255, .3);
    margin: 0 auto;
    padding: 0;
    border: 5px solid #b3b3b3;
}

@media only screen and (max-width:600px) {
    div#container {
        width: 90%;
    }
}

div#origin {
    position: relative;
    background-color: blueviolet;
    width: 1%;
    height: 1%;
    border: 1px solid black;
    border-radius: 40%;
    padding: 0;
}

div.moving-obj {
    position: relative;
    background-color: rgba(230, 192, 87, .9);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
}