/* 
    uniform circular motion demo! ()cleoold
*/

html, body {
    height: 100%;
    background-color: #530a80;
    transition: background-color 4s ease;
    -webkit-transition: background-color 4s ease;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: burlywood;
}

body {
    text-align: center;
}

.grand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* data input area */

.info-container {
    width: 43%;
    display: grid;
    grid-template-columns: 23% 27% 23% 27%;
    grid-row-gap: .7em;
    justify-content: center;
    align-content: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: .3em;
    margin-top: .7em;
    margin-bottom: .7em;
    padding: 0 1em 0 1em;
}

@media only screen and (max-width:850px) {
    .info-container {
        width: 79%;
    }
}

@media only screen and (max-width:600px) {
    .info-container {
        width: 99%;
    }
}

.info-container > h3 {
    grid-column: 1 / span 4;
    margin-bottom: .5em;
}

.info-container > .box-label, .info-container > input[type="text"] {
    display: flex;
    height: 2em;
}

.info-container > .box-label > span {
    font-size: 90%;
    margin: auto;
}

.info-container > .buttons {
    grid-column: 1 / span 4;
    margin-bottom: 1em;
}


input[type="text"] {
    background-color: rgba(255, 255, 255, .3);
    border: none;
    color: white;
    font-size: .9em;
    padding-left: .25em;
    padding-right: .25em;
    transition: background-color .7s cubic-bezier(0.001, 0.610, 0.355, 1);
    -webkit-transition: background-color .7s cubic-bezier(0.001, 0.610, 0.355, 1);
}

.shared-info-container > input[type="text"] {
    text-align: center;
    width: 5em;
    height: 1.6em;
    background-color: rgba(255, 255, 255, .1);
}

.info-container input[type="text"]:hover {
    background-color: rgba(255, 255, 255, .5);
}

.info-container input[type="button"] {
    background-color: #d1c736;
    border: none;
    padding: .25em;
    margin: .1em .3em;
    width: 15em;
    height: 2.6em;
}

.info-container input.set-attr-reset {
    background-color: #b3ad9d;
}

.info-container input[type="button"]:hover {
    background-color: #aba555;
    transition: background-color .1s ease;
    -webkit-transition: background-color .1s ease;
}

.info-container input[type="button"]:active {
    background-color: #7a774d;
    color: #b0b0b0;
}

/* draw panel */

div#container {
    position: relative;
    width: 40%;
    background-color: rgba(255, 255, 255, .3);
    padding: 0;
    margin-bottom: 2em;
}

div#origin {
    position: relative;
    background-color: blueviolet;
    width: 1%;
    height: 1%;
    border: 1px solid black;
    border-radius: 40%;
    padding: 0;
}

div.moving-obj {
    position: absolute;
    background-color: rgba(230, 192, 87, .9);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
}

div#projections {
    position: relative;
    width: 40%;
    height: 10px;
    background-color: rgba(255, 255, 255, .3);
    margin-bottom: 2em;
}

div.moving-obj-prj {
    position: absolute;
    background-color: rgba(230, 192, 87, .9);
    width: 13px;
    height: 10px;
}

@media only screen and (max-width:850px) {
    div#container, div#projections {
        width: 70%;
    }
}

@media only screen and (max-width:600px) {
    div#container, div#projections {
        width: 90%;
    }
}

/* bottom fps */

.shared-info-container-bo {
    font-size: 80%;
}

.shared-info-container-bo input[type="button"] {
    border: none;
    color: rgba(230, 230, 230, 1);
    background-color: rgba(255, 255, 255, .2);
    padding: 0 .2em 0 .2em;
}